@model List<CourseAllocationCoreClient.Models.Allocation>

@{
    ViewData["Title"] = "ShowAllocations";
}

<h1>ShowAllocations</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Subject1
            </th>
            <th>
                Subject2
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject2)
            </td>
        </tr>
}
    </tbody>
</table>
<br /><br />
<a class="btn btn-danger" asp-action="Index" asp-controller="Home"> Logout </a>