<h1>Welcome Dr Pankaj Jalote HOD to your homepage</h1>
<br />
<h3>Select any one of the tasks you want to perform</h3>
<br />
<div class="text-center">
    <a class="btn btn-info" asp-action="Index" asp-controller="Subject">Manage Subjects</a><br /><br />
    <a class="btn btn-primary" asp-action="Index" asp-controller="Faculty">Manage Faculties</a><br /><br />
    <a class="btn btn-secondary" asp-action="Index" asp-controller="SemType">Generate Choice Filling Forms</a><br /><br />
    <a class="btn btn-success" asp-action="Create" asp-controller="Allocation">Perform Allocation</a><br /><br />
    <a class="btn btn-outline-warning" asp-action="Allocation" asp-controller="Allocation">View Allocation</a><br /><br />
    <a class="btn btn-danger" asp-action="Index" asp-controller="Home">Logout</a>
</div>


