<h1>Subject Deletion Unsuccessful for the Subject with id:@ViewBag.Id with status code @ViewBag.status</h1>

<br /><br />

<a asp-action="Index" asp-controller="Subject" class="btn btn-info"> Go to Faculties Homepage </a>